## Bucle For ##

El bucle For seguramente sea el más utilizado para iterar sobre listas, diccionarios o conjuntos de datos con un tamaño ya definido. La estructura básica sería la siguiente:

for elemento in lista[]:<br>
&emsp;Instrucciones a ejecutar.<br>


Por ejemplo, para una lista dada, podríamos recorrerla con un bucle for de la siguiente manera:

In [1]:
for elemento in [1,3,4,5]:
    print(elemento)

1
3
4
5

In [4]:
for e in range(-1,5,2):
    print(e)

-1
1
3

In [1]:
lista_compra = ["arroz", "patata", "maíz", "chile habanero"]  
                                                              
for producto in lista_compra:
    print("Comprar:", producto)

Comprar: arroz
Comprar: patata
Comprar: maíz
Comprar: chile habanero

También es posible generar un rango de valores que recorrerá el bucle for:

In [41]:
for e in range(1, 7):
    print("Valor de e:", e)

Valor de e: 1
Valor de e: 2
Valor de e: 3
Valor de e: 4
Valor de e: 5
Valor de e: 6

La función range() devuelve una secuencia de números, comenzando desde 0 de forma predeterminada. Lo incrementa de 1 en 1(también de manera predeterminada) y se detiene antes de un número especificado.
Su sintáxis es : range(start, stop, step)

In [11]:
# Podríamos escribirlo también:

x = range(6)   # Crea una secuencia de números desde el 0 hasta el 5
for n in x:    # Recorre cada elementos de x
    print(n, end = " ")

0 1 2 3 4 5

In [12]:
print(*x, sep=',')

0,1,2,3,4,5

In [13]:
# Crea una secuencia de números del 3 al 19, pero incrementándolo de dos en dos.

y = range(3, 20, 2)
for n in y:
  print(n)

3
5
7
9
11
13
15
17
19

Análogamente a while, también es posible interrumpir la ejecución del bucle mediante la sentencia break y continue.

In [3]:
#uso de break

lista_compra = ["arroz", "patata", "maíz", "chile habanero"]

for producto in lista_compra:
    if producto == "maíz":
        break
    print("Comprar:", producto)

Comprar: arroz
Comprar: patata

In [4]:
#uso de continue

lista_compra = ["arroz", "patata", "maíz", "chile habanero"]


for producto in lista_compra:
    if producto == "patata":
        continue
    print("Producto:", producto)

Producto: arroz
Producto: maíz
Producto: chile habanero

También es posible anidar dos bucles for, de manera que por cada iteración del primer for se ejecutará completamente el bucle for contenido en él. Un ejemplo podría ser generar las distintas combinaciones de dos listas.

In [5]:
lista_prendas = ["Camiseta", "Pantalón", "Abrigo"]
lista_colores = ["rojo", "azul", "verde"]

for prenda in lista_prendas:
    for color in lista_colores:
        print(f"{prenda} de color {color}")

Camiseta de color rojo
Camiseta de color azul
Camiseta de color verde
Pantalón de color rojo
Pantalón de color azul
Pantalón de color verde
Abrigo de color rojo
Abrigo de color azul
Abrigo de color verde

El bucle también puede iterar teniendo presente dos variables. Por ejemplo, si tenemos una tabla con la siguiente forma:

In [43]:
import pandas as pd

datos = {'producto': ['Camiseta', 'Pantalón', 'Gorra'],
        'precio': [15.99, 39.99, 9.99],
        'cantidad': [3, 1, 2]}

df = pd.DataFrame(datos)

df

   producto  precio  cantidad
0  Camiseta   15.99         3
1  Pantalón   39.99         1
2     Gorra    9.99         2

Se podría iterar el dataframe de la siguiente manera, donde la variable index es el número de registro y fila contiene los datos del registro.

<b>Nota: No es óptimo utilizar la función df.iterrows() para recorrer un dataframe. En el curso se verán maneras más eficientes de hacerlo <b>

In [45]:
total = 0

for index, fila in df.iterrows():
    print("Índice:", index)
    print("Datos del registro:", fila["producto"] , "\n")
    total += fila["precio"]
    
print(f"Total: {total}")

Índice: 0
Datos del registro: Camiseta

Índice: 1
Datos del registro: Pantalón

Índice: 2
Datos del registro: Gorra

Total: 65.97

#### Enumerate ####

Genera un indice por cada elemento de un objeto iterable.

In [2]:
list_planetas  = ["Mercurio", "Venus", "La Tierra", "Marte", "Júpiter", "Saturno", "Urano", "Neptuno"]

lista_numerada = enumerate(list_planetas)

print(list(lista_numerada))

[(0, 'Mercurio'), (1, 'Venus'), (2, 'La Tierra'), (3, 'Marte'), (4, 'Júpiter'), (5, 'Saturno'), (6, 'Urano'), (7, 'Neptuno')]

In [3]:
for indice, planeta in lista_numerada:  
    print(f"El indice es: {indice} y el planeta {planeta}")

In [8]:
for indice, planeta in enumerate(list_planetas):
    print(f"El indice es: {indice} y el planeta {planeta}")

El indice es: 0 y el planeta Mercurio
El indice es: 1 y el planeta Venus
El indice es: 2 y el planeta La Tierra
El indice es: 3 y el planeta Marte
El indice es: 4 y el planeta Júpiter
El indice es: 5 y el planeta Saturno
El indice es: 6 y el planeta Urano
El indice es: 7 y el planeta Neptuno

#### Zip ####

zip() para dos listas dadas, genera un nuevo objeto donde se empareja cada elemento de una lista con el otro, de acuerdo a su posición.

In [10]:
nombres = ['Juan', 'María', 'Luis', 'Ana',9]
edades = [25, 30, 27, 22]

personas = list(zip(nombres, edades))
print(personas)

[('Juan', 25), ('María', 30), ('Luis', 27), ('Ana', 22)]

In [12]:
for elemento in zip(nombres, edades):
    print(elemento)

('Juan', 25)
('María', 30)
('Luis', 27)
('Ana', 22)

## Ejercicios propuestos ##

1. Realiza un programa que enumere los países de la siguiente lista, imprimiéndolos por pantalla:

paises = ["Argentina", "Chile", "Colombia", "España", "México", "Perú"]

In [11]:
paises = ["Perú", "Argentina", "España", "Chile", "Colombia", "México"]

for pais in paises:
    print(pais)

Perú
Argentina
España
Chile
Colombia
México

2. Crea un programa, a partir de un bucle for, que muestre por pantalla la tabla de multiplicar de un número del 1 al 9 que el usuario seleccione.

In [18]:
numero_tabla_multiplicar = int(input("Introduce un número del 1 al 9, del que quieras conocer su tabla de multiplicar:"))

num = [1,2,3,4,5,6,7,8,9]
print(f'La tabla de multiplicar del número {numero_tabla_multiplicar} es:')
for n in num:
    y = numero_tabla_multiplicar * n
    print(str(numero_tabla_multiplicar) + '*' + str(n) + '=' + str(y))

Introduce un número del 1 al 9, del que quieras conocer su tabla de multiplicar:3
La tabla de multiplicar del número 3 es:
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

Otra forma:

In [15]:
numero_tabla_multiplicar = int(input("Introduce un número del 1 al 9, del que quieras conocer su tabla de multiplicar:"))

print(list(range(1,11)))
for n in range(1,11):
    resultado = numero_tabla_multiplicar * n
    print(f"{numero_tabla_multiplicar}*{n} =  {resultado}")

Introduce un número del 1 al 9, del que quieras conocer su tabla de multiplicar: 3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
3*1 =  3
3*2 =  6
3*3 =  9
3*4 =  12
3*5 =  15
3*6 =  18
3*7 =  21
3*8 =  24
3*9 =  27
3*10 =  30

3. Escribir un programa en el que se pregunte al usuario por una frase y una letra, y muestre por pantalla el número de veces que aparece la letra en la frase.

In [14]:
frase = input("Introduce una frase: ")
letra = input("Introduce una letra: ")
contador = 0

for i in frase:
    if i == letra:
        contador += 1
print(f"La letra \"{letra}\" aparece {contador} veces en la frase \"{frase}\".")

Introduce una frase: Un día por la mañana
Introduce una letra: a
La letra "a" aparece 5 veces en la frase "Un día por la mañana".

In [17]:
frase = input("Introduce una frase:").lower()
pal_buscada = input("Introduce una palabra:").lower()

palabras = frase.split()
print("Lista de palabras: \n", palabras)
print(type(palabras))

contador = 0
for p in palabras:
    print(p)
    if(p == pal_buscada):
        contador  += 1

print(contador)

Introduce una frase:Cada día es un buen día
Introduce una palabra:día
Lista de palabras:
 ['cada', 'día', 'es', 'un', 'buen', 'día']
<class 'list'>
cada
día
es
un
buen
día
2

4. Escribir un programa que muestre todo lo que el usuario introduzca por pantalla, hasta que la palabra elegida sea “salir”, que terminará.

In [22]:
while True:
    frase = input("Introduce algo: ")
    if frase == "salir":
        break
    print(frase)

Introduce algo: Vamos
Vamos
Introduce algo: a escribir
a escribir
Introduce algo: varias cosas antes de
varias cosas antes de
Introduce algo: salir

5. Sumar los números del 1 al 100:

In [1]:
suma = 0

for n in range(1, 101):
    suma += n
    
print(suma)

5050

6. Haz lo mismo que el ejercicio anterior pero suma solo los números pares del 1 al 100:

In [12]:
#Forma rápida
suma = 0

for n in range(2, 101, 2):
    suma += n
    
print(suma)

2550

In [13]:
#Otra forma:

suma = 0

for n in range(1, 101):
    if n % 2 == 0:
        suma += n

print(suma)

2550

7. Calcular la media, el máximo y el mínimo de la siguiente lista de números sin utilizar funciones. numeros=[3,2,5,3,8,4]

In [19]:
numeros=[3,2,5,3,8,4]

#Sacamos el total de números.
n_totales = 0
for n in numeros:
    n_totales += 1
    
    
#Calculamos la media
suma_numeros = 0
for n in numeros:
    suma_numeros += n
    
media = suma_numeros / n_totales
print("El valor medio es", media)

#Obtenemos el minimo 
minimo = 0

i = 0
for n in numeros:
    if (i == 0):
        minimo = n
    elif (n < minimo):
        minimo = n
    i+=1
    
print("Minimo:", minimo)        
        
#Máximo
maximo = 0

i = 0
for n in numeros:

    if (i == 0):
        maximo = n
    elif (n > maximo):
        maximo = n

    
print("Máximo:", maximo)

El valor medio es 4.166666666666667
Minimo: 2
Máximo: 4

Para mejorar. Intenta hacerlo en solo un bucle for:

In [18]:
numeros=[3,2,5,3,8,4]

#Sacamos el total de números.
n_totales = 0
suma_numeros = 0
minimo = 0
maximo = 0

i = 0
for n in numeros:
    n_totales += 1
    
    #Suma de los números
    suma_numeros += n
    
    #Minimo
    if (i == 0):
        minimo = n
    elif (n < minimo):
        minimo = n
    
    
    #Máximo
    if (i == 0):
        maximo = n
    elif (n > maximo):
        maximo = n
     
    i+=1
    
media = suma_numeros / n_totales
print("El valor medio es", media)    
print("Minimo:", minimo) 
print("Máximo:", maximo)

El valor medio es 4.166666666666667
Minimo: 2
Máximo: 8

In [16]:
numeros = [3,2,2,3,8,4]
sumatoria = 0
nro_maximo = numeros[0]
nro_minimo = numeros[0]

for numero in numeros:
    if numero > nro_maximo:
        nro_maximo = numero
    if numero < nro_minimo:
        nro_minimo = numero
        
media = sum(numeros) / len(numeros)

print(media)
print(nro_maximo)
print(nro_minimo)

3.6666666666666665
8
2

8. Crea un programa que permita al usuario introducir un número y compruebe si este número es primo, es decir, si tiene más de dos divisores.

In [43]:
numero = int(input("Introduce un número entero: "))

total_divisores = 0

#Ponemos n + 1 porque si no, el bucle no se ejecutaría para dividir el número entre si mismo. Saldría antes.
for i in range(1, numero + 1):
    if numero % i == 0:
        total_divisores += 1

if(total_divisores <= 2):
    print(f"El número {numero} es primo")
else:
    print(f"El número {numero} no es primo")

Introduce un número entero8
El número 8 no es primo