


Python cuenta con cuatro tipos de datos integrados que se utilizan para almacenar colecciones de datos; uno son las Listas, con las que ya hemos estado trabajando. Los otros tres son las Tuplas, los Conjuntos (o Sets) y los Diccionarios, todos con diferentes calidades y usos.

En la siguiente página se muestra un cuadro con las similitudes y diferencias entre las listas, las tuplas y los sets:
https://www.geeksforgeeks.org/differences-and-applications-of-list-tuple-set-and-dictionary-in-python/

### Tuplas ###
Las tuplas se utilizan para almacenar varios elementos en una sola variable. Permite almacenar datos de una manera similar a las Listas, con la diferencia de que __las Tuplas son inmutables__, es decir, no se pueden modificar.

Se puede declarar una Tupla de dos maneras:

In [6]:
# La primera forma ( )
tupla_1 = ("sardina", "atún", "tiburón")
print(tupla_1)

('sardina', 'atún', 'tiburón')

In [17]:
# La segunda forma, con el constructor "tuple()"
tupla_2 = tuple(("sardina", "atún", "tiburón"))
print(tupla_2)

('sardina', 'atún', 'tiburón')

In [18]:
print(tupla_2[1])

atún

In [8]:
# El tipo de dato que figura es 'tuple'
print(type(tupla_1))

<class 'tuple'>

In [9]:
print(type(tupla_2))

<class 'tuple'>

In [10]:
# ¿Qué ocurriría si me olvidara de los dos paréntesis con la orden "tuple()"?
tupla_prueba = tuple("sardina")
print(tupla_prueba)

('s', 'a', 'r', 'd', 'i', 'n', 'a')

In [11]:
type(tupla_prueba)

tuple

Pregunta: ¿cómo crearíamos una Tupla con un único elemento, utilizando los paréntesis? Por ejemplo, crear la Tupla con el elemento "Hola"

In [12]:
tupla_hola = ("Hola")
type(tupla_hola)

str

In [15]:
# ¿Qué podemos hacer?
tupla_hola = ("Hola",)
print(tupla_hola)
print(type(tupla_hola))
print(len(tupla_hola))

('Hola',)
<class 'tuple'>
1

Las Tuplas, al igual que las Listas, pueden contener elementos de diferente tipo sin generar error:

In [9]:
tupla_3 = ( "Guillermo", 34, True)
print(tupla_3, type(tupla_3), sep="\n")

('Guillermo', 34, True)
<class 'tuple'>

También, al igual que vimos con las Listas, los elementos de una Tupla están ordenados (tienen índices) y permiten valores duplicados.

In [47]:
# Permiten duplicados
tupla_duplicados = ("México", "Perú", "Colombia", "Argentina", "México", "Chile", "España")
print(tupla_duplicados)

('México', 'Perú', 'Colombia', 'Argentina', 'México', 'Chile', 'España')

In [11]:
# Sus elementos están ordenados
print(f"El primer elemento de la tupla anterior es : {tupla_duplicados[4]}.")

El primer elemento de la tupla anterior es : México.

In [19]:
# Sin embargo, las Tuplas son inmutables. Si intentamos modificarla...
tupla_duplicados[4] = "Uruguay"

NameError: name 'tupla_duplicados' is not defined

In [48]:
tupla_duplicados.append("Portugal")

AttributeError: 'tuple' object has no attribute 'append'

Al igual que hacíamos con las Listas, podemos utilizar la función __len()__ para obtener la longitud de una Tupla:

In [49]:
len(tupla_duplicados)

7

¿Se puede crear, como con las listas, una tupla de tuplas?

In [32]:
tupla_de_tuplas = (("España", "Francia", "Portugal"), ("Italia", "Alemania", "Bélgica"),("Noruega",))
print(tupla_de_tuplas)
print(type(tupla_de_tuplas))

print(tupla_de_tuplas[1][2])

(('España', 'Francia', 'Portugal'), ('Italia', 'Alemania', 'Bélgica'), ('Noruega',))
<class 'tuple'>
Bélgica

In [33]:
# Podemos recorrer una tupla de la misma manera que las listas
for i in tupla_de_tuplas:
    print(i)

('España', 'Francia', 'Portugal')
('Italia', 'Alemania', 'Bélgica')
('Noruega',)

In [34]:
for x,y,z in tupla_de_tuplas:
    print(x)

España
Italia

ValueError: not enough values to unpack (expected 3, got 1)

In [ ]:
# Podemos transformar una tupla en lista y viceversa
tupla_a_lista = ("México", "Perú", "Colombia", "Argentina","Chile", "España")
print(tupla_a_lista)
print(type(tupla_a_lista))

tupla_a_lista = list(tupla_a_lista)
print(tupla_a_lista)
print(type(tupla_a_lista))

In [ ]:
tupla_copia = tupla_3.copy()
#type(tupla_copia)

In [42]:
tupla = tuple(("hola",2,False))    # list(...)
tupla_2 = ("hola",1,"hola")         # [...]

In [45]:
tupla.index("hola")

0

In [46]:
tupla_2.count("hola")

2

Pequeño __resumen__:
* Se accede a las tuplas de la misma manera que se accede a las listas; señalando el índice al que queremos acceder entre dos corchetes []
* Se puede recorrer una tupla tal y como se recorre una lista.
* Las funciones index() y count() funcionan con tuplas. No así para el resto de funciones.

### Conjuntos (Sets) ###
Se utilizan, al igual que las Tuplas, para almacenar colecciones de datos en una sola variable. A diferencia de los anteriores, __los Sets son "inmutables", no indexados, no ordenados y sus elementos han de ser únicos__.

* __¡OJO! Los elementos ya establecidos no se pueden modificar, pero sí se pueden eliminar elementos o agregar otros nuevos.__
* Desordenado significa que los elementos de un conjunto no tienen un orden definido. Los elementos establecidos pueden aparecer en un orden diferente cada vez que se usan y no se puede hacer referencia a ellos por índice o clave.

Se pueden declarar también de dos maneras distintas:

In [50]:
# La primera forma { }
set_1 = {"sardina", "atún", "tiburón", "manta", "delfín", "morena"}
print(set_1)
print(type(set_1))

{'morena', 'manta', 'atún', 'sardina', 'tiburón', 'delfín'}
<class 'set'>

In [52]:
type(set_1)

set

In [51]:
# La segunda forma, con el constructor "set()"
set_2 = set(("sardina", "atún", "tiburón", "manta", "delfín", "morena"))
print(set_2)

{'morena', 'manta', 'sardina', 'atún', 'tiburón', 'delfín'}

In [53]:
type(set_2)

set

La función __len()__ sigue funcionando con los Sets...

In [54]:
len(set_2)

6

No se puede acceder a los elementos de un conjunto haciendo referencia a un índice o una clave, pero sí recorrerlos usando un bucle for, o preguntar si un valor específico está presente en un conjunto, usando la palabra clave __in__.

In [55]:
# Los elementos de un Conjunto no están indexados
set_2[0]

TypeError: 'set' object is not subscriptable

In [56]:
# Recorrer sus elementos
for x in set_2:
    print(x)

morena
manta
sardina
atún
tiburón
delfín

In [57]:
print(*set_2)

morena manta sardina atún tiburón delfín

In [58]:
# Comprobar si "sardina" está en el conjunto
print("sardina" in set_2)

True

En cuanto a los elementos duplicados...

In [61]:
# Elementos repetidos...
set_repetido = {"sardina", "atún", "tiburón", "sardina"}
print(set_repetido)

{'sardina', 'tiburón', 'atún'}

In [62]:
set_repetido_2 = set_repetido

In [63]:
set_repetido_2 is set_repetido

True

In [60]:
lista_prueba = ["sardina", "atún", "tiburón", "sardina"]
type(lista_prueba)

list

In [ ]:
lista_prueba = set(lista_prueba)
type(lista_prueba)

In [ ]:
print(lista_prueba)

In [ ]:
# Los valores True y 1 son considerados iguales, por lo que... Los duplicados se despreciarán
set_repetido_2 = {0, 1, True}
print(set_repetido_2)

Como hemos dicho, no se pueden sobreescribir elementos ya existentes, pero sí eliminarlos con __.remove(), .discard() o .pop()__

In [64]:
# Eliminamos "Sardina" con .remove()
set_1.remove("sardina")
print(set_1)

{'morena', 'manta', 'atún', 'tiburón', 'delfín'}

In [65]:
# Eliminamos "morena" con .discard()
set_1.discard("morena")
print(set_1)

{'manta', 'atún', 'tiburón', 'delfín'}

¿Qué diferencia existe entonces entre ambos métodos? Intentemos eliminar del set_1 la palabra "tigre"...

In [66]:
set_1.remove("Tigre")
print(set_1)

KeyError: 'Tigre'

In [67]:
set_1.discard("Tigre")
print(set_1)

{'manta', 'atún', 'tiburón', 'delfín'}

Y, con .pop(), ¿cómo podemos borrar si no es posible especificar el índice?

In [1]:
set_1 = {"sardina", "atún", "tiburón", "manta", "delfín", "morena"}
print(set_1)
set_1.pop()
print(set_1)
set_1.pop()
print(set_1)
set_1.pop()
print(set_1)

{'sardina', 'delfín', 'manta', 'morena', 'tiburón', 'atún'}
{'delfín', 'manta', 'morena', 'tiburón', 'atún'}
{'manta', 'morena', 'tiburón', 'atún'}
{'morena', 'tiburón', 'atún'}

También funciona nuestro ya conocido método __.clear()__ para eliminar todos los elementos:

In [3]:
print(set_2)

{'delfín', 'tiburón', 'sardina', 'manta', 'morena', 'atún'}

In [4]:
set_2.clear()
print(set_2)

set()

Agregamos elementos nuevos mediante la función __.add()__.

In [5]:
set_1.add("sardinilla")
print(set_1)

{'sardinilla', 'morena', 'tiburón', 'atún'}

También podemos agregar elementos de un conjunto al set actual con __.update()__.

In [6]:
print(set_1)

{'sardinilla', 'morena', 'tiburón', 'atún'}

In [7]:
set_2 = {"boquerón", "beluga", "lubina"}
print(set_2)

{'boquerón', 'beluga', 'lubina'}

In [8]:
set_1.update(set_2)
print(set_1)

{'sardinilla', 'boquerón', 'morena', 'lubina', 'tiburón', 'beluga', 'atún'}

In [9]:
# Y si en vez de añadir el set_2, intentamos añadir una lista...
lista_1 = ["dorada","rodaballo"]

set_1.update(lista_1)
print(set_1)

# Puede ser cualquier elemento iterable; tuplas, listas, diccionarios,...

{'rodaballo', 'boquerón', 'lubina', 'sardinilla', 'dorada', 'tiburón', 'beluga', 'morena', 'atún'}

O unir dos conjuntos en otro nuevo con __.union()__:

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'a', 'b'}

__Tanto .union() como .update() excluirán cualquier elemento duplicado.__

In [15]:
set4 = {"a", "b" , "c", "a", "b" , "c"}
set5 = {1, 2, 3, "a"}

set6 = set4.union(set5)
print(set6)

{'c', 1, 2, 3, 'a', 'b'}

In [ ]:
set4.union(set5)

In [ ]:
print(set6)

In [ ]:
set4.update(set5)

In [ ]:
print(set4)

la función __.intersection()__ nos devolverá los elementos comunes entre dos conjuntos:

In [17]:
conjunto_1 = {1,2,3,4,5}
conjunto_2 = {1,3,5,7,9}

conjunto_3 = conjunto_1 & conjunto_2
#conjunto_3 = conjunto_1.intersection(conjunto_2)
print(conjunto_3)
print(type(conjunto_3))

{1, 3, 5}
<class 'set'>

Para más funciones ... https://www.w3schools.com/python/python_sets_methods.asp

Al escoger un tipo de colección, es útil comprender las propiedades de cada uno de ellos. Elegir el tipo correcto para un conjunto de datos en particular podría significar, por ejemplo, un aumento en la eficiencia o la seguridad.

In [ ]:
#Si hiciesemos {} lo entendería como un diccionario.
set_1 = {"Camaron"}
print(type(set_1))

set_1.add("Sardinilla")

In [ ]:
#Así crearíamos un set vacío.
set_2 = set()
print(type(set_2))

## Ejercicios ##

1. Dado un set de palabras, escribe un script que encuentre todas las palabras que empiecen con una letra dada.

In [1]:
palabras = {"Python", "Java", "Ruby", "Django", "Docker", "C++"}
letra = "R"

palabras_con_letra = set()
for palabra in palabras:
    if palabra.startswith(letra):  #o palabra[0]
        palabras_con_letra.add(palabra) 
print(palabras_con_letra)

{'Ruby'}

2. Dado un set de números enteros y un número objetivo, escribe un script que encuentre dos números en el set que sumen el número objetivo.

In [ ]:
numeros = {1, 8, 5, 7, 9}
objetivo = 10

complemento = None
for num in numeros:
    complemento = objetivo - num
    if complemento in numeros:
        print(f"Número: {num} y su complementario: {complemento}")
    else:
        print(f"Número: {num} no tiene complementario")