## Indentación ## 

Para explicar este primer concepto, vamos a ver varios ejemplos.

In [7]:
edad = int(input('¿Cuál es tu edad?\n'))

#Bloque
if edad < 0:
    print('Nadie puede tener esa edad.')
    print("Otro print")
elif edad >= 0 and edad < 18:
    print('Eres menor de edad.')
elif edad >= 18 and edad <= 100:
    print('Eres mayor de edad.')
else:
    print('Edad no válida.')


    
print("Proceso terminado")

¿Cuál es tu edad?
 13

Eres menor de edad.
Proceso terminado

¿Qué ocurre si modificamos alguna indentación en el código anterior?

In [14]:
edad = int(input('¿Cuál es tu edad?\n'))

if edad < 0:
    print('Nadie puede tener esa edad.')
elif edad >= 0 and edad < 18:
    print('Eres menor de edad.')
elif edad >= 18 and edad <= 100:
    print('Eres mayor de edad.')
else:
    print('Edad no válida.')
    print("Proceso terminado")

¿Cuál es tu edad?
 12

Eres menor de edad.

In [1]:
# Otro ejemplo
for i in range(5):
    print(i)
    if i % 2 == 0:
        print("Par")
    else:
        print("Impar")

0
Par
1
Impar
2
Par
3
Impar
4
Par

In [7]:
# Otro ejemplo
for i in range(5):
    print(i)
if i % 2 == 0:
        print("Par")
else:
        print("Impar")

0
1
2
3
4
Par

In [8]:
print(edad)

13

In [9]:
edad=24

In [10]:
print(edad)

24

## Variables ## 

En Python, una variable es un nombre que se asigna a un valor almacenado en memoria. Almacenan información que se puede modificar o manipular en un programa.

In [16]:
#Definimos la variable
variable = 30

#Mostramos el valor de la variable por pantalla.
print(variable)

30

Podemos modificar su valor. Ahora la variable almacenará un texto.

In [2]:
variable = "Hola mundo."

#Volvemos a mostrar su valor por pantalla.
print(variable)

Hola mundo.

In [12]:
variable = "Hola \"mundo\""
#variable = "Hola "mundo""
print(variable)

Hola "mundo"

Las variables pueden contener distintos tipos de datos:

Pueden contener distintos tipos de datos: ​

- Números enteros (int)​

- Decimales (float)​

- Texto (str) ​

- Listas (list) ​

- Tuplas (tuple)​

- Diccionarios (dict)​

- Conjuntos (set)​

- Booleanos (bool)​

- Objetos complejos como pueden ser las clases.

In [17]:
#Números enteros 
variable = 23
print("Valor de la variable", variable, ".Tipo", type(variable))
type(variable)

Valor de la variable 23 .Tipo <class 'int'>

int

In [18]:
#Números decimales.
variable = 12.8
print("Valor de la variable", variable, ".Tipo", type(variable))
type(variable)

Valor de la variable 12.8 .Tipo <class 'float'>

float

In [13]:
#Cadenas de texto
variable = 'Hola mundo'
print("Valor de la variable", variable, ".Tipo", type(variable))
type(variable)

Valor de la variable Hola mundo .Tipo <class 'str'>

str

In [ ]:
#Listas: Son conjuntos de elementos relacionados entre sí. Los elementos pueden ser del mismo tipo o no.
# Cada lista se representa entre corchetes.

variable = ["Carne", "Pescado", "Verduras"]
#print("Valor de la variable", variable, ".Tipo", type(variable))
type(variable)

variable_2 = [3,5,6]
type(variable_2)

lista_3 = ["Hola", 2, 3.5]
type(lista_3)

list

In [16]:
#Tuplas: Son conjuntos de elementos, igual que las listas, pero se diferencian de estas en que sus valores no se pueden 
# modificar. Cada tupla se representa entre paréntesis.

variable = ("sardina", "atún", "tiburón")
# print("Valor de la variable", variable, ".Tipo", type(variable))

variable_2 = (3,5,6)
type(variable_2)

tuple

In [18]:
variable_2 = [2,5,6]
print(variable_2)

[2, 5, 6]

In [19]:
PI = 3.14159

In [22]:
PI = (6)

In [28]:
PI = (3.1415)

In [35]:
#Diccionarios: Son conjuntos de pares que contienen siempre una clave y un valor. Cada diccionario se representa entre llaves.

variable = {"Nombre": "Roberto", "Edad": 70, "Aprobado": True}
# print("Valor de la variable", variable, ".Tipo", type(variable))
type(variable)

dict

In [ ]:
print(variable)

In [36]:
#Conjuntos: Son colecciones de elementos únicos no ordenados. En los conjuntos no hay elementos repetidos.
# Los elementos pueden ser del mismo tipo o no. Los conjuntos se representan entre llaves.

variable = {"Coche", "Moto", "Avión"}
# print("Valor de la variable", variable, ".Tipo", type(variable))
type(variable)

set

In [37]:
#Booleanos. Este tipo de datos solo tiene dos valores posibles, True (verdadero) o False (falso).

variable = True
# print("Valor de la variable", variable, ".Tipo", type(variable))
type(variable)

bool

In [19]:
#Objetos complejos. Clases
class Nueva_clase():
    def __init__(self, i_nombre, i_profesion):
        self.nombre = i_nombre
        self.profesion = i_profesion
        
        
variable = Nueva_clase("Roberto", "Estudiante")

#print("Valor de la variable", variable, ".Tipo", type(variable))
#print("Valor del atributo nombre de la clase", variable.nombre, ".Tipo", type(variable.nombre))
#print("Valor del atributo profesion de la clase", variable.profesion, ".Tipo", type(variable.profesion))

print(type(variable))
print(type(variable.nombre))
print(type(variable.profesion))

<class '__main__.Nueva_clase'>
<class 'str'>
<class 'str'>

In [38]:
# Asignación múltiple
a = b = c = 4
print(a,b,c)
print(a)
print(b)
print(c)

4 4 4
4
4
4

In [39]:
c = 5
print(b)

4

In [8]:
x = 5
type(x)

x = str(x)
type(x)

str

In [56]:
x = "5"
type(x)

x = int(x)
type(x)

int

In [9]:
''' Comentario 1: se pide la edad
    Segunda línea de comentarios.
    Tercera línea
'''

edad = int(input('Dime tu edad: '))

print(edad)
print(type(edad))

edad_final = edad + 15
print(edad_final)

Dime tu edad:  13

13
<class 'int'>
28


### Conversión de tipo de datos ###

Python permite transformar los datos entre los distintos tipos para que podamos emplearlos de una manera más eficiente.
Un número que ha sido introducido como texto puede transformarse fácilmente a número, pero también un número puede transformarse a texto. Una manera sencilla de hacerlo es explícitamente a través de las funciones int(), float(), str().

In [26]:
entero = "23"
print(type(entero))
print(entero)

<class 'str'>
23

In [25]:
entero = int(entero)
print(type(entero))
print(entero)

<class 'int'>
23

In [41]:
#Conversión texto a entero
entero = int("23")
print(entero, type(entero))

#Conversión texto a decimal
decimal = float("23.4")
print(decimal, type(decimal))

#Conversión decimal a entero.
entero = int(56.2)
print(entero, type(entero))

#Conversión número a texto
texto = str(87.5)
print(texto, type(texto))

23 <class 'int'>
23.4 <class 'float'>
56 <class 'int'>
87.5 <class 'str'>

In [31]:
print(int("23") * int(18.7))

414

In [44]:
num_1 = "23"
num_2 = 4
resultado = num_1 * num_2
print(resultado)
print(type(resultado))

23232323
<class 'str'>


### Introducción de datos a través de consola ###

A través de la consola es posible pedir al usuario que introduzca ciertos datos que necesitemos para la ejecución, como por ejemplo, sus datos o seleccione alguna opción. Python proporciona el método input() que permite al usuario introducir código a través del teclado. 

En el siguiente ejemplo, se le pide al usuario que introduzca un dato, el cual se almacena en la variable x:

In [45]:
print("¿Le gusta la ciencia de datos? sí/no:")
x = input()

print("Dato introducido:", x)

¿Le gusta la ciencia de datos? sí/no:

 sí

Dato introducido: sí

In [61]:
type(x)

str

Además, podemos añadir un texto explicativo en input para guiar al usuario. De la siguiente forma:

In [46]:
"""
En este programa, input() realiza las siguientes tareas:
    1. Muestra la pregunta "¿Le gusta la ciencia de datos? sí/no:"
    2. Queda a la espera de que el usuario presione la tecla Enter
    3. Almacena en la variable que tiene a la izquierda del símbolo '=' los datos introducidos por el usuario hasta
       la pulsación de la tecla Enter.

"""
x = input("¿Le gusta la ciencia de datos? sí/no:")
print("Su respuesta fue:", x)

¿Le gusta la ciencia de datos? sí/no: no

Su respuesta fue: no

Por defecto, estos datos los toma como una cadena de texto. Por tanto, si escribimos un número y queremos realizar una operación aritmética, el intérprete generará un error:

In [1]:
numero = input("Introduce un número: ")

suma = numero + 15
print(suma)

Introduce un número:  4

TypeError: can only concatenate str (not "int") to str

Debemos transformar esta entrada al tipo de datos que esperamos. Por tanto, en el ejemplo tendríamos que pasar el input a un tipo de datos decimal(float), quedando de la siguiente forma:

In [47]:
numero = float(input("Introduce un número: "))

suma = numero + 15
print("El resultado de la suma es", suma, ". El tipo de dato es", type(suma))

Introduce un número:  13

El resultado de la suma es 28.0 . El tipo de dato es <class 'float'>

Como se ve, hemos convertido explícitamente el dato de entrada dado por el input a un dato decimal. Simplemente pasando el input como parámetro a float(). 

Aunque en la suma el 15 es un número entero, al realizar la operación el resultado final es de tipo float.

In [68]:
nombre = input("Escribe tu nombre:")
print('Hello',nombre)

Escribe tu nombre:Silvia
Hello Silvia

In [69]:
print('Escribe tu nombre:')
nombre = input()
print('Hello',nombre)

Escribe tu nombre:
Vanesa
Hello Vanesa

#### Operadores ####

In [72]:
20 / 2 * 5

50.0

In [73]:
20 / (2 * 5)

2.0

In [74]:
20 - 5 + 3

18

In [75]:
20 - (5+3)

12

In [76]:
50 / 10 + 3 * 2 - 5

6.0

In [77]:
(50/10) + (3*2) - 5

6.0

In [78]:
50 / (10 + 3 * (2-5))

50.0

In [47]:
40 / 11

3.6363636363636362

In [48]:
40 // 11

3

In [79]:
not True

False

In [80]:
not 1

False

In [81]:
not False

True

In [82]:
not 0

True

In [ ]:
x = 5

x = x - 3
x -= 3

print(x)

In [6]:
#Inicialización de las variables
d= 12
A = d
B = d
A is B

True

In [5]:
A = "d"
B = "d"
A is B

True

In [88]:
d = 3
A = d
B = d
A is B

True

In [89]:
A = 3
B = 3
A is B

True

In [92]:
# Instrucción para comprobar todas las variables que tenemos almacenadas,de qué tipo son y qué valor toman.
%whos

Variable      Type     Data/Info
--------------------------------
A             int      3
B             int      3
Nueva_clase   type     <class '__main__.Nueva_clase'>
a             int      1
b             int      1
c             int      1
d             int      3
edad          int      101
entero        int      23
lista_3       list     n=3
nombre        str      Vanesa
numero        float    18.4
suma          float    33.4
variable      list     n=3
variable_2    list     n=3
x             str      no quiero responder
y             str      Hola
z             str      1

In [95]:
texto = "prueba,de,split"
lista = texto.split(",")
print(lista)

['prueba', 'de', 'split']

In [96]:
texto = "texto de prueba"
print( texto.upper())
print( texto.lower())
print( texto.capitalize())
print(texto.title())

TEXTO DE PRUEBA
texto de prueba
Texto de prueba
Texto De Prueba

In [97]:
texto

'texto de prueba'

In [98]:
texto_modificado = texto.upper()
texto_modificado

'TEXTO DE PRUEBA'

In [104]:
print ("Numero " + '5')

Numero 5

In [105]:
print("Numero " + str(5))

Numero 5

In [103]:
print( "Numero",5)

Numero 5